#!/usr/bin/make -f

QMAKE = qmake-qt4
DEB_QMAKE_ARGS = PREFIX=/usr
DEB_DH_INSTALL_SOURCEDIR = debian/tmp

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

clean::
	rm -rf debian/tmp
	rm -f src/qpainter/libqzion.prl
	rm -rf src/qpainter/pkgconfig
